---
layout: default
---

<div class="project-layout">

  <aside class="project-sidebar">
    <div class="sidebar-inner">
      <h3>{{ page.title }}</h3>

      <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#system-architecture">System Architecture</a></li>
        <li><a href="#iteration-log">Iteration Log</a></li>
        <li><a href="#lessons-learned">Lessons</a></li>
      </ul>
    </div>
  </aside>

  <div class="project-content">
    {{ content }}
  </div>

</div>
