---
layout: default
---

<div class="project-layout">

  <aside class="project-sidebar">
    <div class="sidebar-inner">
      <h3>{{ page.title }}</h3>

      {% assign links = site.data.sidebars[page.sidebar] %}

      {% if links %}
      <ul>
        {% for item in links %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </div>
  </aside>

  <div class="project-content">
    {{ content }}
  </div>

</div>
